/* 
    Feuilles de style appliquées aux pages contenant des inventaires.
    But : personnaliser et rendre les tableaux lisibles,
        Offrir au lecteur la possibilité de savoir quelle ligne il utilise.
*/
/*
    Auteur     : Thibaud SIMON
*/
table{
    border: 2px solid #ddd;
}

th{
    background-color: #0066CC;
    color: white;
    border: none;
}

th,td {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Lignes impaires du tableau : 1,3,5,7,... */
/*fond blanc */
table tbody:first-of-type tr:nth-child(odd),
table tbody:first-of-type tr:nth-child(odd) th {
    background: #fff;
}

/* Lignes paires du tableau : 2,4,6,8,... */
/*fond bleu clair */
table tbody:first-of-type tr:nth-child(even),
table tbody:first-of-type tr:nth-child(even) th {
    background: #f5f5f5;
}

/* items survolés */
/* On fait apparaitre un dégradé bleu */
table tbody:first-of-type tr:not(.nopointer):hover,
table tbody:first-of-type tr:not(.nopointer):hover th,
.hover:not(.nopointer) {
background-size: 100% 100%;
background: -webkit-gradient(linear, left top, left bottom, from(#92bce8), to(#528ac4));
background: -webkit-linear-gradient(top, #92bce8, #528ac4);
background: -moz-linear-gradient(top, #92bce8, #528ac4);
background: -ms-linear-gradient(top, #92bce8, #528ac4);
background: -o-linear-gradient(top, #92bce8, #528ac4);    color: #000;
}

/* Lignes survolées */
table tr.hover:not(.nopointer) th {
background-size: 100% 100%;
background: -webkit-gradient(linear, left top, left bottom, from(#92bce8), to(#528ac4));
background: -webkit-linear-gradient(top, #92bce8, #528ac4);
background: -moz-linear-gradient(top, #92bce8, #528ac4);
background: -ms-linear-gradient(top, #92bce8, #528ac4);
background: -o-linear-gradient(top, #92bce8, #528ac4);    color: #000;
}