/* 
    Styles personnalisés.
    Feuille de style principale pour les pages standards du site.

    Auteur: Thibaud SIMON
*/

/* Classe écartant les items, utilisée pour les formulaires principalement */
.MarginTop{
    margin-top: 2.5em;
}

/* Affichage centré des colonnes bootstrap */
.col-centered{
    float: none;
    margin-left : auto;
    margin-right: auto;
}

/*Propriétés du fond de la page */
body{
    background: url("") no-repeat fixed center;
}

/*Classes de tailles textuelles */
.text-big{
    font-size: 36px;
}
.text-super-big{
    font-size: 50px;
}
.text-ultra-big{
    font-size: 92px;
}


/*  Proprietés appliquées à un élément que l'on souhaite cacher.
    Puis découvrir lors du survol via le curseur.
    Merci de donner l'id "hide" à cet élément.

    Note : Cet élément doit être contenu 
    dans une division ou article de classe Bootstrap jumbotron.
*/
.jumbotron:hover #hide{
  display: block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.jumbotron #hide{
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

/* Proprietés de la class hoverjump */
/* But : Zoom léger sur un élement survolé */
.hoverjump{
    transform: scale(0.95);
    transition: transform 100ms linear;
}
.hoverjump:hover {
     transform: scale(1);
     transition: transform 100ms linear;
     z-index: 10;
}

/* Permettre de placer le bouton radio a gauche du label */
input.form-check-input{
    float:left;
    margin-right: 5px;
}

/*Propriétés du bouton 'inscrire un membre' de la navbar */
/* But : donner un aspect "bouton" à un lien de la navbar */
#lieninscr a{
    border-radius: 5px;
    box-shadow : 0px 0px 1px;
}
/*placer le lien d'inscription à droite de la navbar*/
ul#lieninscr{
    float:right;
}

/* Propriétés de l'icone de déconnexion :
    Affichage de sa sombreure initiale lors d'un survol.
    But : refléter le comportement des boutons d'une navbar Bootstrap. */
#imgout {
    opacity: 0.75;
    filter: alpha(opacity=75); /* Pour IE <= IE8 */
}
#imgout:hover{
    opacity: 1.0;
    filter: alpha(opacity=100); /* Pour IE <= IE8 */
}


/*Propriétés initiales de l'image d'accueil de l'index */
/* Opacité nulle en intiale pour un transform en javascript */
#indexpic{
    opacity: 0;
     -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}


input[type="email"]:valid:not(:focus):not(:placeholder-shown) , input[type="text"]:valid:not(:focus):not(:placeholder-shown) ,
input[type="tel"]:valid:not(:focus):not(:placeholder-shown),input[type="date"]:valid:not(:focus):not(:placeholder-shown),input[type="textarea"]:valid:not(:focus):not(:placeholder-shown)
,input[type="password"]:valid:not(:focus):not(:placeholder-shown){
	background-color:#9eff9e;
	color: black;
}

input[type="email"]:invalid:not(:focus):not(:placeholder-shown) , input[type="tel"]:invalid:not(:focus):not(:placeholder-shown), 
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),input[type="textarea"]:invalid:not(:focus):not(:placeholder-shown),input[type="password"]:invalid:not(:focus):not(:placeholder-shown)  {
	background-color: #ff4162;
}
