/* 
    Feuilles de style appliquée à la page timeline
    But : afficher une timeline réactive et verticale

    Auteur     : Thibaud SIMON
*/

/* Bulle qui contient l'évenement dans la timeline */
.box{
    background : white;
    border-radius : 15px;
    padding: 30px;
    margin-bottom: 1em;
}
/* Titre de la bulle */
.box h3{
    background : #2b669a;   /*Fond bleu et texte blanc */
    color : white;
    padding: 5px;
}

/*Organisation du sens de la bulle (Gauche ou droit) */
.left{
    float: left;
}
.right{
    float: right;
}
/*Suivant le sens de la bulle, on génére une ligne verticale */
/*Création d'une ligne verticale affichée au centre de l'écran */
.vlleft{    /*Ligne pour bulle placée à gauche */
    border-right: 6px solid #2b669a;
    height: 300px;
    float :left;
    margin-left: 8%;
}
.vlright{   /*Ligne pour bulle placée à droite */
    border-left: 6px solid #2b669a;
    height: 300px;
    float : right;
    margin-right: 8%;
    
}

/* Affichage sur appareils mobiles */
@media (max-width: 992px) {
    /* Juxtaposition des bulles */
    .vlleft, .vlright{
        margin-left: 50%;
        margin-right: 50%;
        height: 20px;
        float: left;
    }
    /* Bulles adaptées à la largeur du mobile */
    .box{
        margin-bottom: 0;
        border-radius : 0px;
        border: 6px solid #f1f1f1;
    }
}

/*Propriétés du reste de la page Suivi&Historique : Texte et autre */

/* Couleur des titres 2 */
h2{
    color: #34495e;
}